<!-- printing the table data -->
<div class="card">

    <div class="table-responsive-xl fi tablediv">
        <table class="table table-hover ">
            <caption>List of users</caption>
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Email</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Address</th>
                    <th scope="col">$PayMode</th>
                    <th scope="col">Accept</th>
                    <th scope="col">Reject</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let el of orderList  let i = index ">
                    <th scope="row">{{i+1}}</th>
                    <td>{{el.user.firstName | titlecase}}</td>
                    <td>{{el.user.lastName | titlecase}}</td>
                    <td style="font-size: 13px">{{el.user.email}}</td>
                    <td>{{el.user.service}}</td>
                    <td>{{el.product.price}}</td>
                    <td style="font-size: 13px">{{el.user.addresses[0].address | titlecase}}</td>
                    <td>cashOn</td>
                    <td><button class="btn btn-success" (click)="acceptOrder(el)">Accept</button></td>
                    <td><button class="btn btn-danger" (click)="rejectOrder(el)">Reject</button></td>
                </tr>
            </tbody>

        </table>

    </div>

</div>